@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0f0f0f;
  height: 100%;
  user-select: none;
  cursor: default;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply bg rounded-lg font-sans font-medium text-sm;
}

.bg {
  @apply bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-50;
}

body,
#app {
  height: inherit;
  background-color: inherit;
  overflow: hidden;
}

#app {
  @apply flex flex-col;
}

button {
  cursor: pointer;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  min-height: 40px;
  @apply bg-neutral-400 dark:bg-neutral-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-50;
}
