@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0f0f0f;
  padding: 8px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-50 rounded-lg font-sans font-medium text-sm;
}

button {
  cursor: pointer;
}

button {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  min-height: 40px;
  @apply bg-neutral-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-50;
}
